<!doctype html>

<html lang="en" ng-app="App">
<head>
  <meta charset="utf-8">

  <title>Movie List</title>
  <meta name="description" content="Movie List">
  <meta name="author" content="Craig Dearden">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
  <script src="../exampleData.js"></script>
  <script src="app.js"></script>

  <link rel="stylesheet" href="css/styles.css">
</head>

<body  ng-controller="movieController" >
  <h2>Movie List</h2>
  <input ng-model="searchText" type="search"  placeholder="Search" />
  <div ng-repeat="movie in movies | filter:searchText" >
    <h3>{{movie.Title}}</h3>
    <p>{{movie.Rated}}</p>
    <p>{{movie.Genre}}</p>
    <p>{{movie.Director}}</p>
    <p>{{movie.Plot}}</p>
  </div>
</body>
</html>
